<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>7bits frontend courses workshop weeks 7-8</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<article class="blog-post">
    <header class="blog-post__header">
        <img class="blog-post__header-photo" src="" alt="Mountains"/>
        <h2 class="blog-post__theme">Fashion & Adventure</h2>
        <h1 class="blog-post__title">Fashion and adventure in the world</h1>
        <div class="blog-post__tags">
            <h3 class="blog-post__author">Jhone Albert</h3>
            <h3 class="blog-post__date">January 16,2016</h3>
        </div>
    </header>
    <div class="blog-post__content">
        <p class="blog-post__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcos laboris nisis ut aliquip ex ea commodo consequat.   ut labore et dolore now is the great working with travlling magnam aliquam quaerat voluptatem.
        </p>
        <a class="blog-post__button button" href="#">Read More</a>
    </div>
    <footer class="blog-post__footer">
        <a class="blog-post__comments" href="#">No comment</a>
        <a class="blog-post__likes" href="#">Like 25</a>
        <ul class="blog-post__social social">
            <li class="social__item"><a class="social__link social__link_dribbble" href="#"></a></li>
            <li class="social__item"><a class="social__link social__link_facebook" href="#"></a></li>
            <li class="social__item"><a class="social__link social__link_twitter" href="#"></a></li>
            <li class="social__item"><a class="social__link social__link_pinterest" href="#"></a></li>
        </ul>
    </footer>
</article>
</body>
</html>
