<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>7bits frontend courses workshop weeks 2-3</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="header">
    <h1 class="header__title">John Watson</h1>
    <h2 class="header__subtitle">Graphic Designer</h2>
    <ul class="header__contacts contacts">
        <li class="contacts__item">
            Your Street
        </li>
        <li class="contacts__item">
            Your State
        </li>
        <li class="contacts__item">
            More Details
        </li>
        <li class="contacts__item">
            <a class="contacts__link" href="tel:1234567890">Phone number</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link" href="mailto:email@email.com">email@email.com</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link" href="www.yoururl.de">www.yoururl.de</a>
        </li>
    </ul>
</div>
<div class="main">
    <div class="main__column_left">
        <img class="main__avatar" src="../images/avatar.png" width="425px" alt="John Watson" />
        <div class="personal-info">
            <h3 class="personal-info__header">About me</h3>
            <div class="personal-info__main">
                <p class="personal-info__text">
                    I’m <span class="personal-info__text_strong">John Watson</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
    <div class="main__column_right">
        <div class="personal-info">
            <h3 class="personal-info__header">About me</h3>
            <div class="personal-info__main">
                <p class="personal-info__text">
                    I’m <span class="personal-info__text_strong">John Watson</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>
