<header class="header">
    <a class="header__logo" href=""></a>
    <ul class="header__nav-menu nav-menu">
        <li class="nav-menu__item"><a href="" class="nav-menu__link">lifestyle</a></li>
        <li class="nav-menu__item"><a href="" class="nav-menu__link">photodiary</a></li>
        <li class="nav-menu__item"><a href="" class="nav-menu__link">music</a></li>
        <li class="nav-menu__item"><a href="" class="nav-menu__link">travel</a></li>
    </ul>
</header>
